<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        Admin
      </h1>

      <button @click="logout">LOGOUT</button>
      <div class="links">
        <nuxt-link to="/">Back to site</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import notify from "~/mixins/notify"

export default {
  layout: 'admin',
  middleware: 'authenticated',
  mixins: [notify],
  methods: {
    logout() {
      this.notify("Logged out", "success");
      this.$store.state.authenticated = false;
      this.$log("user logged out");
      this.$router.push({ path: '/admin/login'});
    }
  }
}
</script>
