<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        Admin Login
      </h1>

      <button @click="login">LOGIN</button>
      <div class="links">
        <nuxt-link to="/">Back to site</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import notify from "@/mixins/notify";

export default {
  layout: 'admin',
  mixins: [notify],
  methods: {
    login() {
      this.notify("Logged in", "success");
      this.$store.state.authenticated = true;
      this.$log("user logged in");
      this.$router.push({ path: '/admin/'});
    }
  }
}
</script>
