<template>
  <div>
    <p>Default Layout</p>
    <Nuxt />
    <div class="links">
      <nuxt-link to="/admin/">Admin</nuxt-link>
      <nuxt-link :to="$i18n.path('')"> Homepage </nuxt-link>
      <nuxt-link :to="$i18n.path('references')"> References </nuxt-link>

      <nuxt-link v-if="$i18n.locale === 'cs'" :to="`/en` + $route.fullPath" active-class="none" exact>
        switch to en
      </nuxt-link>
      <nuxt-link v-else :to="$route.fullPath.replace(/^\/[^\/]+/, '')" active-class="none" exact>
        přepnout do cz
      </nuxt-link>
    </div>
  </div>
</template>
