<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        {{ $t("home.title") }}
      </h1>
      <p>{{ translated_link }}</p>
      <table v-if="data.length > 0" class="table">
        <tr v-for="item in data" :key="item.id">
          <td>ID: {{ item.id }}</td>
          <td>{{ item["title_" + $i18n.locale] }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      data: [],
      translated_link: this.$t("home.introduction"),
    }
  },
  mounted() {
    this.$content("videos")
      .sortBy("title_" + this.$i18n.locale, "asc")
      .fetch()
      .then((data) => {
        this.data = data
        console.log("LOADED DATA", data)
      })
  },
}
</script>
