<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
        {{ $t('references.title') }}
      </h1>
      <p>{{ translated_link }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "References",
  data() {
    return {
      translated_link: this.$t('references.introduction')
    }
  }
}
</script>
